alicereplacement/__pycache__
store/__pycache__
store/models/__pycache__
store/migrations/__pycache__
store/views/__pycache__
bakugans/
attributes/
TODO
go_logger/go_all_logs.txt
go_logger/warning_logs.txt