body {
    font-family: 'russo one';
    font-size: 20px;
    text-transform: uppercase;
    margin: 0;
    color: white;

    background-image: url('/static/assets/general-background.jpg');
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.links {
    color: white;
    text-decoration: underline;
    font-weight: bold;
}

.links:hover {
    color: aqua;
    transform: translateX(5px);
}



nav {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    padding: 10px;
    height: fit-content;
    z-index: 1000;
    margin: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    background: rgba(20, 20, 20, 0.95);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    border-bottom: 1px solid rgba(255, 255, 255, 0.05);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.6);
    transition: background 0.4s ease-in-out;
}

nav.category-pyrus {
    background: rgba(30, 4, 4, 0.90);
    border-bottom: 1px solid rgba(255, 51, 51, 0.25);
}

nav.category-haos {
    background: rgba(28, 24, 6 , 0.90);
    border-bottom: 1px solid rgba(218, 165, 32, 0.25);
}

nav.category-aquos {
    background: rgba(4, 10, 30, 0.90);
    border-bottom: 1px solid rgba(0, 191, 255, 0.25);
}

nav.category-darkus {
    background: rgba(18, 4, 28, 0.90);
    border-bottom: 1px solid rgba(186, 85, 211, 0.25);
}

nav.category-ventus {
    background: rgba(4, 26, 12, 0.90);
    border-bottom: 1px solid rgba(50, 205, 50, 0.25);
}

nav.category-subterra {
    background: rgba(24, 14, 6, 0.90);
    border-bottom: 1px solid rgba(139, 69, 19, 0.25);
}

nav a {
    color: white;
    text-decoration: none;

    font-family: 'russo one';
    font-weight: bold;
    font-size: 40px;
    text-transform: uppercase;
}

.nav-left a, .nav-right a {
    margin-right: 15px;
    transition: transform 0.2s;
}

.nav-left a:hover, .nav-right a:hover {
    color: rgb(60, 50, 114);
    transform: translateX(5px);
}

.nav-right a:last-child {
    margin-right: 0;
}

nav a:hover {
    text-decoration: underline;
}



.sidebar {
    width: fit-content;
    min-width: 180px;
    padding: 15px;
    position: -webkit-sticky;
    position: sticky;
    top: 49px;
    height: calc(100vh - 49px);
    overflow-y: auto;
    
    background-image: url('/static/assets/category-background.jpg');
    background-size: cover;
    background-position: right center;
    background-repeat: no-repeat;
}

.category-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.category-list li {
    margin-bottom: 12px;
}

.category-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 20px;
    transition: transform 0.2s;
}

.category-name {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #ffffff;
    font-size: 25px;
    font-weight: bold;
    transition: transform 0.2s;
}

.category-item:hover {
    color: aqua;
    transform: translateX(5px);
}

.category-name:hover {
    color: aqua;
    transform: translateX(5px);
}

.category-icon {
    width: 30px;
    height: 30px;
    object-fit: contain;
    margin-right: 10px;
}



.warning-text {
    color: red;
    font-weight: bold;
    padding: 0;
    margin: 0;
    margin-bottom: 10px;
}

.product-img, .regular-text {
    padding: 0;
    margin-top: 0;
    margin-bottom: 10px;
}

.store-container {
    display: flex;
    align-items: flex-start;
}

.shop-name {
    margin: 10px;
}

.product-grid {
    margin: 10px;
}

.product-card {
    padding: 15px;
}

.checkmark {
    color: #10f15b;
}



.search-container {
    margin: 10px;
    display: flex;
}

.search-form {
    display: flex;
    width: 100%;
    max-width: 500px;
}

.search-input {
    flex-grow: 1;
    font-size: 12px;
    border: 2px solid #ccc;
    border-radius: 4px 0 0 4px;
    outline: none;
}

.search-input:focus {
    border-color: #9c4848
}

.search-btn {
    font-size: 12px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
}

.search-btn:hover {
    background: #03567c;
}