{% load static %}
<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset='UTF-8'>
    <meta name="viewport" content="width=device-width, intial-scale=1.0">
    <title>Swoosh Store</title>

    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <body>
        <nav class="{% if current_category %}category-{{ current_category }}{% endif %}">
            <div class="nav-left">
                <a href="{% url 'store' %}">Home</a>
                <a href="{% url 'cart' %}">Cart</a>
                <a href="{% url 'orders' %}">Orders</a>
            </div>
            <div class="nav-right">
                {% if request.session.customer %}
                    <a href="{% url 'logout' %}">Logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Login</a>
                {% endif %}
            </div>
        </nav>

        <main>
            {% block content %}
            {% endblock %}
        </main>
    </body>
</html>