{% extends 'base.html' %}

{% block content %}
<div class="store-container">

    <aside class="sidebar">
        <ul class="category-list">
            <li>
                <a href="{% url 'homepage' %}" class="category-item">All Attributes:</a>
            </li>
            {% for category in categories %}
                <li>
                    <a href="{% url 'homepage' %}?category={{ category.id }}" class="category-item">
                        {% if category.image %}
                            <img src="{{ category.image.url }}" alt="{{ category.name }}" class="category-icon">
                        {% endif %}
                        <span>{{ category.name }}</span>
                    </a>
                </li>
            {% endfor %}
        </ul>
    </aside>

    <div class="product-grid">
        <h1>Alice Replacement Project</h1>
        {% for product in products %}
        <div class="product-card">
            <h3>{{ product.name }}</h3>
            <img src="{{ product.image.url }}" alt="{{ product.name }}" style="width: 200px;">
            {% if product.changer %}
                <h5 class="warning-text">{{ product.changer }}</h5>
            {% endif %}
            {% if product.warning %}
                <h5 class="warning-text">{{ product.warning }}</h5>
            {% endif %}
            {% if product.description %}
                <h5>{{ product.description }}</h5>
            {% endif %}
            {% if product.description2 %}
                <h5>{{ product.description2 }}</h5>
            {% endif %}
            {% if product.description3 %}
                <h5>{{ product.description3 }}</h5>
            {% endif %}
            {% if product.description4 %}
                <h5>{{ product.description4 }}</h5>
            {% endif %}
            <p>Price: {{ product.price }} HSP</p>
            <form action="{% url 'homepage' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" name="product" value="{{product.id}}">
                <button type="submit">Add to Cart</button>
            </form>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}