{% extends 'base.html' %}

{% block content %}
<div class="login-container">
    <h2>Login</h2>

    {% if error %}
        <div class="fubar">
            <p>{{ error }}</p>
        </div>
    {% endif %}

    <form action="{% url 'login' %}" method="POST">
        {% csrf_token %}
        <div class="form-group">
            <label for="ign">In Game Name (IGN):</label>
            <input type="text" id="ign" name="ign" value="{{ values.ign|default:'' }}" required>
        </div>
        <div class="form-group">
            <label for="discord_name">Discord Name:</label>
            <input type="text" id="discord_name" name="discord_name" value="{{ values.discord_name|default:'' }}" required>
        </div>

        <button type="submit">Login</button>
    </form>
    <div class="signup-prompt">
        <p>First time here? <a href="{% url 'signup' %}">Signup Here</a></p>
    </div>
</div>
{% endblock %}

<div class="login-prompt">
    <p>You must be logged in to checkout.</p>
    <a href="{% url 'login' %}?return_url={% url 'cart' %}" class="login-prompt">Login</a>
    <a href="{% url 'signup' %}?return_url={% url 'cart' %}" class="signup-prompt">Sign Up</a>
</div>